.box {
  font-family: monospace;
}

.green, .box {
  background-color: lime;
}

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 20px solid lime;
}
